* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.insertingText-conatiner {
  min-width: 30%;
  min-height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#text-area {
  width: 100%;
  min-height: 100px;
  resize: none;
}

.document-container {
  width: 100%;
  margin-top: 20px;
}

.document-body {
  width: 100%;
  border: solid 3px black;
  min-height: 100px;
}
