.click-button,
.reset-button {
  width: 250px;
  height: 80px;
  border: 2px solid white;
  background-color: #002ead;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 2px 2px 2px black;
  margin: 5px;
}

.click-button:hover,
.reset-button:hover {
  background-color: #00451b;
}

.reset-button {
  background-color: #5a01a7;
}
