html,
body {
  background-color: #1b1b32;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
}
.principal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#freeCodeCamp-logo {
  min-width: 65%;
  height: 48px;
  filter: grayscale(100%) invert(100%);
  margin: 32px 0px;
}

.display-counter {
  min-width: 300px;
  height: 300px;
  border: solid 8px white;
  color: white;
  margin: 32px 0px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 160px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #freeCodeCamp-logo {
    min-width: 80%;
    max-height: 30px;
    margin: 32px 0px 16px 0px;
  }
  .display-counter {
    min-width: 150px;
    max-width: 250px;
    height: 120px;
    font-size: 40px;
    border: solid 4px white;
    margin: 16px 0px 15px 0px;
    padding: 10px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  #freeCodeCamp-logo {
    min-width: 80%;
    max-height: 35px;
    margin: 32px 0px 16px 0px;
  }
  .display-counter {
    min-width: 180px;
    max-height: 180px;
    font-size: 60px;
    border: solid 4px white;
    margin: 16px 0px 15px 0px;
    padding: 10px;
  }
}
