.number,
.operator,
.dot,
.equal {
  width: 80px;
  height: 60px;
  border: 2px solid #fff;
  background-color: #1b1b32;
  color: #fff;
  cursor: pointer;
  margin: 8px;
  padding: 8px;
  border-radius: 16px;
  font-size: 32px;
  font-weight: 600;
}

.operator {
  background-color: #015b12;
}

.clear-button {
  width: 375px;
  height: 76px;
  color: white;
  background-color: #ac0246;
  border: 2px solid #fff;
  border-radius: 48px;
  cursor: pointer;
  font-size: 28px;
  justify-content: center;
  margin: 8px 16px 16px;
  font-weight: 700;
}

.number:hover {
  background-color: purple;
}
.operator:hover,
.clear-button:hover {
  background-color: orange;
}
